*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 3em auto;
    
}

html::before {
    content: "";
    display: flex;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(155, 155, 155, 0.4), rgba(255, 253, 253, 0.253));
    
}

body {
    /* will play with the background later */
    background-image: url(./imgs/the-shard-london-skyline.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 2em;
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'header'
    'services'
    'contact'
    'location';
}

body > header {
    grid-area: header;
}
body > .provided-services {
    grid-area: services;
}
body > .location {
    grid-area: location;
}
body > .contact {
    grid-area: contact;
}


@media (min-width: 45rem) {
    body {
        grid-template-areas:
        'header header header'
        'services services contact'
        'services services location';
       
        /* margin: 7em 3em; */
    }
   
    html {
        max-width:fit-content;
        max-height: fit-content;
        margin: 7rem auto;
    } 

    header {
        margin-top: 2em;
    }

}

@media (min-width: 60em) {
    header {
        margin: 3em 1em;
    }

    html {
        margin: 3rem auto;
    }
}

header {
    display: inline-flex;
    flex-direction: row-reverse;
    font-family: 'Beau Rivage', cursive;
    font-weight: 600;
    font-size: 3em;
    padding: 0.5em;
    justify-content:flex-start;
    text-align: center;
}

h1 {
    font-family: 'Beau Rivage', cursive;
    font-size: 2em;
    padding: 0.5em 0.8em 0;
}
p, ul {
    font-size: 1em;
    font-family: 'Trebuchet MS', sans-serif;
}

p {
    margin: 0 0.6em 0.2em;
    padding: 0 0.4em 0.5em;
}

li {
    list-style-type:"✔";
    margin: 0 1em 0.7em 3em;
}

.bespoke {
    margin-top: 1.3em;
    text-align: center;
}

.appointment {
    text-align: center;
}

a {
    text-decoration: none;
    color:rgb(77, 8, 77);
}

.smartphone,
.whatsapp {
    max-height: 1.3em;
    position: relative;
    top: 0.3em;
}

.provided-services,
.location,
.contact {
    /* border: 3px solid red; */
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(0.5px);
    border-radius: 8px;
}
