*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* will play with the background later */
    background-image: url(./imgs/the-shard-london-skyline.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
    margin: 2em;
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'header'
    'services'
    'contact'
    'location';
}

body > header {
    grid-area: header;
}
body > .provided-services {
    grid-area: services;
}
body > .location {
    grid-area: location;
}
body > .contact {
    grid-area: contact;
}


@media (min-width: 42em) {
    body {
        grid-template-areas:
        'header header header'
        'services services contact'
        'services services location';
    }
}

header {
 
    display: inline-flex;
    flex-direction: row-reverse;
    font-family: 'Beau Rivage', cursive;
    font-weight: 600;
    font-size: 3em;
    padding: 0.5em;
    justify-content:flex-start;
    text-align: center;
    /* border: 3px solid rgb(33, 58, 128); */
}

h1 {
    font-family: 'Beau Rivage', cursive;
    font-size: 2em;
    padding: 0.5em 0.8em 0;
}
p, ul {
    font-size: 1em;
    font-family: 'Trebuchet MS', sans-serif;
}

p {
    margin: 0 0.6em 0.2em;
    padding: 0 0.4em 0.5em;
}

li {
    list-style-type:"✔";
    margin: 0 3em;
}

.bespoke {
    margin-top: 1.3em;
}


.provided-services {
    /* border: 3px solid red; */
    background: rgba(255, 255, 255, 0.70);
    border-radius: 8px;
}

.location {
    /* border: 3px solid yellow; */
    background: rgba(255, 255, 255, 0.70);
    border-radius: 8px;
}

.contact {
    /* border: 3px solid rgb(145, 12, 150); */
    background: rgba(255, 255, 255, 0.70);
    border-radius: 8px;
}